@charset "UTF-8";
.body{
    background-color: lightgreen;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.container {
    background-color: white;
    color: black;
    margin: 0 auto;
    text-align: center;
    width: 960px;
    padding: 10px;
}
.h1{
    font-family:sans-serif;
    font-size: 100%;
}
.h2{
    font-family:sans-serif;
    font-size: 100%;
}
.h3{
    font-family:sans-serif;
    font-size: 100%;
}
.slideshow {
    background-color: green;
    color: white;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    width: 650px;
    padding:10px;

}
p {
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    background-color: white;
    text-align: center;
    min-height: 50px;
    padding: 20px;
    font-size: 1em;
    margin: auto;

}